doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/") Home
    span  | 
    a(href="/kontak") Kontak
    span  | 
    a(href="/about") About

    block content
